
<h2>Author Name: <%= @author.name %></h2>


<h3>Author Books</h3>

<% if @author.books %>
  <ul>
    <% @author.books.each do |book| %>
      <li><a href="/authors/<%= @author.id %>/books/<%= book.id %>"><%= book.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no books listed for this author yet.</p>
<% end %>

<h4>Add a book:</h4>

<form action="/authors/<%= @author.id %>" method="post">
<div class="form-group">
  <label for="book_name">Book name</label>
  <input id="book_name" name="book_name" class="form-control" type="text">
</div>
<button type="submit" class="btn">Add book</button>
</form>

<p><a href="/authors/<%= @author.id %>/edit">Edit author</a></p>
<a href="/authors">Return to author list</a>
